@import "tailwindcss";
@source "../src";
body{
     background-color: #F3F5F7;
}

.flex-center{
     @apply flex justify-center items-center;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}